@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DFE3FA;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #C5CAE3;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #252945;
  background-clip: content-box;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #373b53;
  background-clip: content-box;
}

input:hover{
  border: 1px solid #9277FF;
  cursor: pointer;
}

input:active{
  border: 1px solid #9277FF;
  cursor: pointer;
}